*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    padding: 34px;
    margin: auto;
    text-align: center;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
    margin-bottom: 20px;
}

input,textarea{
    font-size: 16px;
    width:80%;
    padding: 7px;
    margin: 11px 0;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn{
    color:white;
    background-color: hsl(346, 86%, 38%);
    font-size: 20px;
    border-radius: 14px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}
